<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.dorav4">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DORAV4">
        <activity
            android:name=".fragments.activities.CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.DeviceListActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />
        <activity
            android:name=".fragments.activities.BluetoothChatActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.GuidesActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.StartConversationActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ViewUserActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />
        <activity
            android:name=".fragments.activities.FindFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.GuidesListActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.HotlinesActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.UpvotesActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.AdvisoriesActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ChangeProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.ImageFullscreenActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.PostReportActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.OfflineDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.SetupActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.activities.OnboardingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".utils.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />
    </application>

</manifest>